* {
    font-family: "JetBrains Mono Nerd Font";
    font-weight: bold; 
    font-size: 14px;
}

#custom-notification {
  font-family: "JetBrains Mono Nerd Font";
  font-size: 17px;
  color: #ebdbb2; /* Foreground */
  margin: 2px 0px 0px 0px;
}

window#waybar {
    background: #282828; /* Background */
    border: 3px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
}

tooltip {
    background: #3c3836; /* Darker background */
    color: #ebdbb2; /* Foreground */
    font-size: 13px;
    border-radius: 7px;
    border: 2px solid #504945; /* Darker border */
}

#workspaces {
    background: rgba(40, 40, 40, 0.0); /* Transparent background */
    color: #a89984; /* Gray */
    border-radius: 9px;
    transition: 0.2s ease;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 1px;
}

#workspaces button {
    background: rgba(40, 40, 40, 0.0); /* Transparent background */
    color: #ebdbb2; /* Foreground */
    border-radius: 9px;
    transition: 0.2s ease;
    padding-left: 4px;
    padding-right: 4px;
}

#workspaces button.active {
    color: #ebdbb2; /* Foreground */
    transition: all 0.3s ease;
    padding-left: 4px;
    padding-right: 4px;
}

#workspaces button:hover {
    background: none;
    color: #98971a; /* Green */
    transition: all 0.5s cubic-bezier(.55,-0.68,.48,1.682);
}

#taskbar button {
    font-size: 4px;
    padding: 0px;
    border-radius: 9px;
    margin-bottom: 3px;
    margin-left: 0px;
    padding-left: 3px;
    padding-right: 3px;
    margin-right: 0px;
    color: #ebdbb2; /* Foreground */
}

#taskbar button.active {
    background: #458588; /* Blue */
    color: #ebdbb2; /* Foreground */
    margin-left: 3px;
    padding-left: 12px;
    padding-right: 12px;
    margin-right: 3px;
    transition: all 0.4s cubic-bezier(.55,-0.68,.48,1.682);
    min-height: 9px; 
}

#taskbar button:hover {
    background: #b16286; /* Purple */
    color: #ebdbb2; /* Foreground */
    transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
}

#tray menu * {
    min-height: 16px;
    font-weight: bold;
    font-size: 13px;
    color: #b16286; /* Purple */
}

#tray menu separator {
    min-height: 10px;
}

#custom-spacer,
#custom-smallspacer {
    opacity: 0.0;
}

#custom-mouse {
    font-size: 14px;
    margin-bottom: 6px;
    background: #3c3836; /* Darker background */
}

#custom-power {
    font-size: 15px;
    color: #ebdbb2; /* Foreground */
    background: rgba(40, 40, 40, 0.9); /* Transparent background */
    margin: 6px 0px 6px 0px;
    padding-left: 4px;
    padding-right: 4px;
}

#backlight {
    color: #458588; /* Blue */
    background: rgba(40, 40, 40, 0.0); /* Transparent background */
    font-weight: normal;
    font-size: 19px;
    margin: 1px 0px 0px 0px;
    padding-left: 0px;
    padding-right: 2px;
}

#bluetooth,
#custom-cliphist {
    color: #ebdbb2; /* Foreground */
    background: #3c3836; /* Darker background */
    margin: 4px 2px 4px 2px;
    padding-left: 4px;
    padding-right: 4px;
}

#battery {
    font-weight: normal;
    font-size: 22px;
    color: #98971a; /* Green */
    background: rgba(40, 40, 40, 0.0); /* Transparent background */
    margin: 0px 0px 0px 0px;
    padding-left: 0px;
    padding-right: 0px;
}

#idle_inhibitor {
    color: #689d6a; /* Aqua */
    background: rgba(40, 40, 40, 0.0); /* Transparent background */
    margin: 4px 0px 4px 0px;
    padding-left: 4px;
    padding-right: 4px;
}

#clock {
    color: #ebdbb2; /* Foreground */
    font-size: 14px;
    font-weight: 900;
    font-family: "JetBrains Mono Nerd Font";
    background: rgba(40, 40, 40, 0.0); /* Transparent background */
    margin: 3px 0px 0px 0px;
    padding-left: 10px;
    padding-right: 10px;
}

#pulseaudio {
    font-weight: normal;
    font-size: 18px;
    color: #458588; /* Blue */
    background: rgba(40, 40, 40, 0.0); /* Transparent background */
    margin: 2px 4px 2px 4px;
    padding-left: 3px;
    padding-right: 3px;
}

#cpu {
    font-weight: normal;
    font-size: 22px;
    color: #d79921; /* Yellow */
}

#custom-led {
    background: #458588; /* Blue */
    color: #ebdbb2; /* Foreground */
    margin-top: 7px;
    margin-bottom: 7px;
    padding-left: 6px;
    border-radius: 7px;
    margin-right: 6px;
}

#custom-gpuinfo,
#custom-keybindhint,
#language,
#memory {
    font-weight: normal;
    font-size: 22px;
    color: #d65d0e; /* Orange */
}

#mpris {
    color: #ebdbb2; /* Foreground */
    animation: repeat;
    animation-name: blink;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes blink {
    to {
        color: #a89984; /* Gray */
    }
}

#network {
    color: #ebdbb2; /* Foreground */
    font-weight: normal;
    font-size: 19px;
    padding-right: 0px;
    padding-left: 4px;
    margin: 0px 4px 0px 4px;
}

#custom-notifications,
#custom-spotify,
#taskbar,
#custom-theme,
#custom-menu {
    color: #ebdbb2; /* Foreground */
    background: rgba(40, 40, 40, 0.0); /* Transparent background */
    margin: 0px 0px 0px 0px;
    padding-left: 1px;
    padding-right: 1px;
    opacity: 0.1;
}

#tray,
#custom-updates,
#custom-wallchange,
#custom-wbar,
#window {
    color: #ebdbb2; /* Foreground */
    font-family: "Martian Mono";
}

#custom-l_end,
#custom-r_end,
#custom-sl_end,
#custom-sr_end,
#custom-rl_end,
#cava,
#upower#headset,
#upower {
    color: #98971a; /* Green */
}

#mpris {
    font-size: 15px;
    font-weight: bold;
}

#custom-rr_end {
    font-weight: normal;
    color: #ebdbb2; /* Foreground */
    background: rgba(40, 40, 40, 0.0); /* Transparent background */
    margin: 0px 0px 0px 0px;
    padding-left: 4px;
    padding-right: 4px;
}

#backlight-slider slider,
#pulseaudio-slider slider {
    background: #ebdbb2; /* Foreground */
    background-color: transparent;
    box-shadow: none;
    margin-right: 7px;
}

#backlight-slider trough,
#pulseaudio-slider trough {
    margin-top: -3px;
    min-width: 90px;
    min-height: 10px;
    margin-bottom: -4px;
    border-radius: 8px;
    background: #3c3836; /* Darker background */
}

#backlight-slider highlight,
#pulseaudio-slider highlight {
    border-radius: 8px;
    background-color: #458588; /* Blue */
}

#battery.charging, #battery.plugged {
    color: #ebdbb2; /* Foreground */
}

#battery.critical:not(.charging) {
    color: #cc241d; /* Red */
}

#taskbar {
    padding: 1px;
}

#custom-r_end {
    border-radius: 0px 7px 7px 0px;
    margin-right: 1px;
    padding-right: 3px;
}

#custom-l_end {
    border-radius: 7px 0px 0px 7px;
    margin-left: 1px;
    padding-left: 3px;
}

#custom-sr_end {
    border-radius: 0px;
    margin-right: 1px;
    padding-right: 3px;
}

#custom-sl_end {
    border-radius: 0px;
    margin-left: 1px;
    padding-left: 3px;
}

#custom-rr_end {
    border-radius: 0px 7px 7px 0px;
    margin-right: 1px;
    padding-right: 3px;
}

#custom-rl_end {
    border-radius: 7px 0px 0px 7px;
    margin-left: 1px;
    padding-left: 3px;
}

#custom-expand {
    min-width: 25px;
    color: #ebdbb2; /* Foreground */
    font-size: 16px;
}

#group-minimized {
    border-left: solid;
    border-left-width: 0.5;
}
